version: '3.8'

services:
  api:
    build:
      target: development
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    ports:
      - "3000:3000"
      - "9229:9229"

  mongo:
    ports:
      - "27017:27017"
    
  mongo-express:
    ports:
      - "8081:8081"